@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;500;700&display=swap");

/*! must before all */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
  color: #995d00;
}

body {
  background-image: url(/svg/winterfell.webp);
  /* background-color: #f5faff; */
}

img {
  max-width: 100%;
}

.container {
  padding: 0 1rem;
  max-width: 900px;
  margin: 2rem auto;
}

.heading {
  font-size: 2.625rem;
  text-transform: uppercase;
  line-height: 2.7rem;
  margin-bottom: 1rem;
}

.heading_sub--heading {
  font-size: 1.5625rem;
  margin-bottom: 1.5rem;
}

.heading_sub--heading_subtitle {
  font-size: 18px;
}

.cta {
  border-radius: 5px;
  border: none;
  background: #bddcff;
  text-transform: uppercase;
}

.cta:hover {
  background: #65d8f1;
  transition: 0.5s;
}

.textarea {
  background-color: #f0f7ff;
}

.textarea,
.output {
  max-width: 900px;
  width: 100%;
  height: 7rem;
  margin: 0 auto;
  display: flex;
}

.textarea,
.cta,
.output {
  margin: 0.7rem;
}

.textarea,
.output {
  font-size: 1.5625rem;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.301);
}

.cta {
  padding: 1rem 5rem;
}
